
@media only screen and (min-width: 992px) {
  body {
    padding-left: 250px;
  }
}

.side-nav {
  width: 250px;
}

#search-input {
  margin: 4rem 0 4rem 0;
  font-size: 4rem;
}

.trend-list-item-text {
  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
}